<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="container">
    <h1>Hangman Game</h1>
    <form action="/guess" method="post">
        <label for="letter-entry">Enter a letter:</label>
        <input type="text" name="letter" id="letter-entry" maxlength="1" required>
        <button type="submit">Guess</button>
    </form>
    <div>
        <h2>Guessed Letters:</h2>
        <p>{{ guessed_letters }}</p>
    </div>
    <div id="hangman">
        {% if wrong_guesses == 0 %}
            <pre>
            +---+
                |
                |
                |
               ===
            </pre>
        {% elif wrong_guesses == 1 %}
            <pre>
            +---+
            O   |
                |
                |
               ===
            </pre>
        {% elif wrong_guesses == 2 %}
            <pre>
            +---+
            O   |
            |   |
                |
               ===
            </pre>
        {% elif wrong_guesses == 3 %}
            <pre>
            +---+
            O   |
           /|   |
                |
               ===
            </pre>
        {% elif wrong_guesses == 4 %}
            <pre>
            +---+
            O   |
           /|\  |
                |
               ===
            </pre>
        {% elif wrong_guesses == 5 %}
            <pre>
            +---+
            O   |
           /|\  |
           /    |
               ===
            </pre>
        {% elif wrong_guesses == 6 %}
            <pre>
            +---+
            O   |
           /|\  |
           / \  |
               ===
            </pre>
        {% endif %}
    </div>
    <div id="word-display">
        {% for char in word_display %}
            {% if char == ' ' %}
                &nbsp;
            {% elif char in guessed_letters %}
                {{ char }}
            {% else %}
                _
            {% endif %}
        {% endfor %}
    </div>
    <div id="status-label">{{ message }}</div>
</body>
</html>
